.app {
  height: 100vh;
  display: grid;
  grid-template-areas:
    'titlebar titlebar'
    'explorer tabsbar'
    'explorer editor'
    'explorer terminal'
    'bottombar bottombar';
  grid-template-columns: 1fr 6fr;
  grid-template-rows: 1fr 1fr 18fr 6fr 1fr;
  overflow: hidden;
}

.titlebar{
  grid-area: titlebar;
}

.tabsbar {
  grid-area: tabsbar;
}

.explorer {
  grid-area: explorer;
  position: relative;
}

.editor {
  grid-area: editor;
}

.terminal {
  grid-area: terminal;
  position: relative;
}

.bottombar {
  grid-area: bottombar;
}
