/* this file styles the layout of the entire application 
   TODO: if this job is moved to another component these declarations would move too */

/* use a grid to layout all the main components of the app
   avoid any overflow so that the app itself never scrolls 
   (individual components can scroll but not the whole app) */
.app {
  height: 100vh;
  display: grid;
  grid-template-areas:
    'titlebar titlebar titlebar'
    'sidebar explorer tabsbar'
    'sidebar explorer editor'
    'sidebar explorer terminal'
    'bottombar bottombar bottombar';
  grid-template-columns: 1fr 5fr 26fr;
  grid-template-rows: 1fr 1fr 18fr 6fr 1fr;
  overflow: hidden;
}

/* each of the components in the grid are styled in their own module
   but need to be defined relative here for some of the 
   overflow/scroll styling to work properly. Their z-indexes need to be 
   specified so that outlining works (chooses which outlines will be on top and 
   which will be on bottom) */

/* TODO: try to allow the user to resize the components
   limited research tells me that might warrant moving this 
   to a separate component */

.titlebar {
  grid-area: titlebar;
  position: relative;
  z-index: 4;
}

.tabsbar {
  grid-area: tabsbar;
  position: relative;
  z-index: 2;
}

.explorer {
  grid-area: explorer;
  position: relative;
  z-index: 3;
}

.sidebar {
  grid-area: sidebar;
  position: relative;
  z-index: 2;
}

.editor {
  grid-area: editor;
  position: relative;
  z-index: 1;
}

.terminal {
  grid-area: terminal;
  position: relative;
  z-index: 2;
}

.bottombar {
  grid-area: bottombar;
  position: relative;
  z-index: 1;
}
