/* This file is used to style the bottombar container */
.bottombar {
  background-color: var(--main-bg-color);
  height: 100%;
  display: flex;
  color: var(--main-text-color);
  font-size: 0.8rem;
}