.explorer {
  background: var(--main-bg-color);
  height: 100%;
  color: var(--main-text-color);
  font-family: 'Source Sans Pro', sans-serif;
  border-right: 1px solid var(--main-border-color);
  border-top: 1px solid var(--main-border-color);
}

.title {
  padding: 0.5rem 0.75rem;
  font-weight: 300;
  text-transform: uppercase;
  font-size: 0.9rem;
  letter-spacing: 1px;
  margin: 0;
}

.heading {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.8rem;
  letter-spacing: 1px;
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 0.25rem 0.5rem;
  border: 1px solid var(--main-bg-color);
}

.heading:hover {
  border: 1px solid var(--accent-color-2);
}

.checkbox {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

.chevron {
  transition: transform 0.2s;
}

.folders {
  cursor: pointer;
}

.folder {
  padding: 0.15rem 0.5rem;
  display: flex;
  align-items: center;
  font-size: 0.875rem;
}

.folder p, .folder label {
  margin: 0;
}

.folder:hover {
  background: var(--secondary-bg-color);
}