/* style the explorer container (size, border, background)*/
.explorer {
  height: 100%;
  width: 100%;
  background: var(--main-bg-color);
  color: var(--main-text-color);
  font-family: 'Source Sans Pro', sans-serif;
  border-right: 1px solid var(--main-border-color);
  border-top: 1px solid var(--main-border-color);
  border: 1px solid var(--main-border-color);
  /* overflow and absolute position so that folder names don't overflow into editor */
  overflow-x: hidden;
  overflow-y: hidden;
  position: absolute;
  /* flex container so sections have flexible section placement and scrolling work */
  display: flex;
  flex-direction: column;
}

.title {
  font-weight: 300;
  font-size: 0.9rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin: 0;
  padding: 0.5rem 0.75rem;
}

.explorerContent {
  /* make everything but the title scrollable */
  overflow-y: auto; 
  overflow-x: hidden;
  /* make it a flex container so the different sections have more flexible placement*/
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

/* create section borders that look like VS code's explorer */
.explorerSection {
  border-top: 1px solid var(--main-border-color);
}

.explorerSection:first-child {
  border-top: none;
}

/* make the last section go to the bottom - till it is opened and changed in the jsx file */
.explorerSection:last-child {
  margin-top: auto;
}

/* style the main project headers within the explorer */
.heading {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.8rem;
  letter-spacing: 1px;
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 0.25rem 0.5rem;
  border: 1px solid var(--main-bg-color);
  height: 1.5rem;
}

.heading:hover {
  border: 1px solid var(--accent-color-2);
}

/* style the checkbox and chevron for the "folders" that can be opened/closed */
.checkbox {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

.chevron {
  transition: transform 0.2s;
}

/* style the "new folder" button */
.newFolderButton {
  padding: 0.125rem 0.125rem;
  width: 1rem;
  height: 1rem;
  margin: 0;
  margin-left: auto;
  margin-right: 0.5rem;
  background: var(--main-bg-color);
  color: var(--main-text-color);
}

.newFolderButton:hover {
  background: var(--main-hover-color);
  color: var(--main-text-color);
  border-radius: 0.25rem;
}

/* style the "folders" within the explorer that can be opened */
.folders {
  cursor: pointer;
}

.folder {
  padding: 0.25rem 0rem 0.25rem 1rem;
  display: flex;
  align-items: center;
  font-size: 0.875rem;
}

.folder:hover {
  background: var(--main-hover-color);
}

.active {
  background: var(--main-hover-color);
}

/* TODO: for whatever reason for folders the chevron is not centered
   only barely noticeable but it would be cool to fix one day 
   these declaration are what do it, but they are needed */

/* make it so that folder names will not wrap and will 
   not display past the explorer component*/
.folder p, .folder label {
  display: inline-block;
  white-space: nowrap;
  overflow-x: hidden;
}

