/* This file contains the css declarations that apply to the entire application */

body {
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  color: var(--accent-color-2);
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
  font-size: 1rem;
}

a:hover {
  background-color: var(--secondary-bg-color);
  color: var(--accent-color-1);
  transition: color .5s;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: left;
}

form label {
  display: block;
  margin-bottom: 0.5rem;
  text-transform: uppercase;
  text-align: left;
  letter-spacing: 2px;
  font-size: 0.8rem;
}

form input, form textarea {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New';
  margin-bottom: 1.5rem;
  background: var(--main-bg-color);
  color: var(--main-text-color);
  border: none;
  font-size: 1rem;
  padding: 0.75rem;
  width: 20vw;
  resize: none;
}

form input:focus, form textarea:focus {
  outline: 1px solid var(--accent-color-2);
}

button {
  background: var(--accent-color-1);
  color: var(--main-text-color);
  border: none;
  cursor: pointer;
  padding: 0.5rem 1rem;
  margin: 0rem 0.5rem;
  font-size: 0.9rem;
  font-weight: bold;
  text-transform: uppercase;
}

button:hover {
  background-color: var(--accent-color-2);
  color: var(--main-bg-color);
  transition: all .5s;
}
