/* This file contains styling for pages so that all the pages in the 
   application look similar and to avoid modules for each individual page.
   Each style should start with a .page class so that it only effects the pages 
   and not other components in the application*/

/* TODO: add more styles to make the pages look better 
   TODO: add more commenting so it is clear what each 
         of the declarations are for, and why they are needed */

/* common page element styling */
.page {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New';
  color: var(--main-text-color);
  margin-bottom: 1rem;
}

.page h1 {
  color: var(--accent-color-2);
  margin-bottom: 0.5rem;
}

.page h1::before {
  content: '# ';
}

.page h2 {
  color: var(--accent-color-2);
  margin-bottom: 0.5rem;
}

.page h2::before {
  content: '## ';
}

.page p {
  font-size: 1rem;
  margin: 0;
  padding: 0.15rem 0rem;
}

.page .floatColumnContainer {
  display: flex;
  flex-direction: column;
  justify-content: left;
}

.page .section {
  margin-bottom: 1.5rem;
}

/* link styling */
.page a {
  color: var(--accent-color-2);
  margin-bottom: 0.5rem;
}

.page a:hover {
  color: var(--accent-color-1);
}


/* form styling to make inputs into forms look
   sort of like you are typing code into a file */
.page form {
  display: flex;
  flex-direction: column;
  justify-content: left;
}

.page label {
  margin-right: 1rem;
  margin-bottom: 0.5rem;
  text-transform: uppercase;
  text-align: left;
  letter-spacing: 2px;
  font-size: 0.8rem;
}

.page input, .page textarea {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New';
  margin-bottom: 0.5rem;
  background: var(--main-bg-color);
  color: var(--main-text-color);
  border: none;
  font-size: 1rem;
  padding: 0.5rem;
  border: 1px solid var(--secondary-bg-color);
}

.page input {
  width: 40%;
}

.page textarea {
  width: 50%;
  height: 10vh;
  resize: none;
}

.page input:focus, .page textarea:focus {
  outline: none;
  background-color: var(--secondary-bg-color);
  border-bottom: 1px solid var(--main-border-color);
  border-top: 1px solid var(--main-border-color);
}

.page input:hover, .page textarea:hover {
  border: 1px solid var(--main-border-color);
}

/* button styling with different button colors*/
.page button {
  background: var(--secondary-bg-color);
  color: var(--accent-color-1);
  border: 3px solid var(--accent-color-1);
  cursor: pointer;
  padding: 0.5rem 0rem;
  margin-bottom: 0.5rem;
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New';
  font-size: 0.9rem;
  font-weight: bold;
  text-transform: uppercase;
  width: 20vw;
  margin-right: 1rem;
}

.page button:hover {
  background-color: var(--accent-color-1);
  color: var(--main-bg-color);
}

.page button.accent2 {
  background: var(--secondary-bg-color);
  color: var(--accent-color-2);
  border: 3px solid var(--accent-color-2);
}

.page button.accent2:hover {
  background-color: var(--accent-color-2);
  color: var(--main-bg-color);
}

.page button.accent3 {
  background: var(--secondary-bg-color);
  color: var(--accent-color-3);
  border: 3px solid var(--accent-color-3);
}

.page button.accent3:hover {
  background-color: var(--accent-color-3);
  color: var(--main-bg-color);
}

.page button.accent4 {
  background: var(--secondary-bg-color);
  color: var(--accent-color-4);
  border: 3px solid var(--accent-color-4);
}

.page button.accent4:hover {
  background-color: var(--accent-color-4);
  color: var(--main-bg-color);
}


/* add squiggly "error" lines under form error messages */
.errorMessage {
  /* TODO: what color looks best for the text color? pink like the squiggle? green? white? */
  color: var(--accent-color-4);
  text-decoration: wavy underline;
  text-decoration-color: var(--accent-color-4);
}

form .errorMessage {
  margin-left: 1rem;
}

/* hidden warnings styling */
.hiddenWarning {
  display: none;
}

.hoverRevealsWarning:hover ~ .hiddenWarning {
  display: block;
}


/* add some "code" colors elements */
.page .accent1 {
  color: var(--accent-color-1);
}

.page .accent2 {
  color: var(--accent-color-2);
}

.page .accent3 {
  color: var(--accent-color-3);
}

.page .accent4 {
  color: var(--accent-color-4);
}