.sidebar {
  background-color: var(--main-bg-color);
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-bottom: 1px solid var(--main-border-color);
  border-top: 1px solid var(--main-border-color);
  color: var(--secondary-text-color);
  font-size: 0.8rem;
}

.iconContainer {
  cursor: pointer;
  width: 100%;
}

.iconContainer:hover {
  color: var(--main-text-color);
}

.active {
  border-left: 2px solid var(--accent-color-2);
  color: var(--main-text-color);
}

.icon {
  height: 1.75rem;
  width: 1.75rem;
  padding: .75rem 0;
  display: block;
  margin: 0 auto;
}


/* styling that makes a dropdown menu that looks like VS code titlebar dropdowns */
.sidebarDropdown {
  position: relative;
}

/* content is hidden by default and appears to the right of the dropdown label */
.sidebarDropdownContent {
  position: absolute;
  display: none;
  left: 2.5rem;
  bottom: .5rem;
  background-color: var(--secondary-bg-color);
  z-index: 10;
  border: 1px solid var(--main-border-color);
  border-radius: 0.25rem;
}

/* style each button within the dropdown*/
.sidebarDropdownContent button {
  color: var(--main-text-color);
  background-color:  var(--secondary-bg-color);
  text-decoration: none;
  display: block;
  outline: none;
  border: none;
  padding: 0.25rem 1rem;
  text-align: left;
  width: 10rem;
  margin: 0 0.25rem ;
}

/* margins are just on the outside of the buttons (not in between buttons) */
.sidebarDropdownContent button:first-child {
  margin-top: 0.25rem;
}

.sidebarDropdownContent button:last-child {
  margin-bottom: 0.25rem;
}

.sidebarDropdownContent button:hover {
  background-color: var(--accent-color-1);
  color: var(--main-text-color);
  border-radius: 0.25rem;
}

/* show the dropdown content when hovering over the titlebarDropdown */
.sidebarDropdown:hover .sidebarDropdownContent {
  display: block;
}