/* styling each individual tab on the tabs bar */
/* TODO: eventually add a close button and styles for closing tabs */
.tab {
  padding: 0.5rem 1.25rem;
  margin: 0;
  background: var(--main-bg-color);
  color: var(--main-text-color);
  display: flex;
  align-items: center;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 0.9rem;
  border-right:  1px solid var(--main-border-color);
}

.tab p {
  padding-left: 5px;
}

/* give the active tab a different background color and border */
.active {
  border-top: 2px solid var(--accent-color-2);
  background: var(--secondary-bg-color);
  border-bottom: none;
}