.terminal {
  height: 100%;
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  border-top: 1px solid var(--main-border-color);
  border-bottom: 1px solid var(--main-border-color);
  border-left: 1px solid var(--main-border-color);
  font-family: 'Source Sans Pro', sans-serif;
}

.terminalTabs {
  display: flex;
  justify-content: row;
}

.terminalTab {
  padding: 0.5rem 0.75rem;
  margin-bottom: 0.5rem;
  font-weight: 300;
  text-transform: uppercase;
  font-size: 0.9rem;
  letter-spacing: 1px;
  background-color: var(--main-bg-color);
  color: var(--secondary-text-color);
}

.terminalTab:hover {
  cursor: pointer;
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
}

.activeTab {
  border-bottom: 1px solid var(--accent-color-2);
  color: var(--main-text-color);
}

.terminalView {
  margin: 0;
  padding-left: 1rem;
  overflow: auto;
  white-space: pre-wrap;
  word-wrap: break-word;
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New';
}

.terminalView p {
  margin: 0;
}


/* Terminal path (thing before the $) styling */

.terminalPath {
  color: var(--accent-color-3);
}


/* Terminal output styling and animation */

.terminalOutput {
  width: max-content;
  color: var(--main-text-color);
  position: relative;
}

.terminalOutput::before,
.terminalOutput::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.terminalOutput::before {
  background: var(--main-bg-color);
  animation: typewriter 1s steps(24) 500ms forwards;
}

.terminalOutput::after {
  margin-left: 0.4rem;
  width: 0.25em;
  background: var(--accent-color-3);
  animation: typewriter 1s steps(24) 500ms forwards,
    blink 750ms steps(24) infinite;
}

@keyframes typewriter {
  to {
    left: 100%;
  }
}

@keyframes blink {
  to {
    background: transparent;
  }
}