/* This file contains the css variables that control the colors used in application */
:root {
  --main-bg-color: #1c1c1e;
  --secondary-bg-color: #232325;
  --main-border-color: #454550;
  --main-hover-color: #32323a;
  --main-text-color: #E0E0E0;
  --secondary-text-color: #a2a1a1;
  --accent-color-1: #354b73;
  --accent-color-2: #7baccd;
  --accent-color-3: #76e0bb;
  --accent-color-4: #c977db;
}

/* TODO: more "themes" could be defined below to allow different color palette settings*/