/* This file contains the css variables that control the color for the entire application */
:root {
  --main-bg-color: #1F1F20;
  --secondary-bg-color: #232325;
  --main-border-color: #454550;
  --main-text-color: #E0E0E0;
}